.vs/
Deaddit.Tests/bin/
Deaddit.Tests/obj/
Deaddit/bin/
Deaddit/obj/
Release/obj/
Release/bin/Deaddit/release_net8.0-android/Deaddit.dll
Release/bin/Deaddit/release_net8.0-android/Deaddit.pdb
Release/bin/Deaddit/release_net8.0-android/Deaddit.runtimeconfig.json
Release/bin/Deaddit/release_net8.0-android/Deaddit.xml
